1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6

In [1]:
#1.	These are following values in the given elements:
['hello', -87.8, 6]

#These are following expression in the given elements:
['*', '-', '/', '+']

['*', '-', '/', '+']

2. What is the difference between string and variable?

In [3]:
'''String:
string is a the data type that can be enclosed in quotation marks i.e(“,’).'''
#Example:
str1="ineuron"
str2='this is a string'
#Variable: variable is placeholder to store a datatype in memory.
#Example:
var=20 #Here var is a variable that stores the int datatype  with value 20 in memory.

3. Describe three different data types.

In [4]:
'''Integer (int): The integer data type represents whole numbers without decimal points.
It can be positive or negative, including zero.'''
#For example,
x = 100
y = -150 #assigns integer values to variables x and y,respectively.
'''
Boolean (bool): The boolean data type represents truth values,
either True or False. Booleans are typically used in logical expressions and conditional statements to make decisions.'''
#For example,
is_condition_met= False #assigns the boolean value False to the variable is_condition_met.
#Booleans are used for comparisons, conditions, and control flow in programming.
'''String (str): The string data type represents a sequence of characters.
Strings are enclosed in either single quotes ('') or double quotes (""). '''
#For example,
institute = "ineuron" #assigns the string " ineuron" to the variable institute.

4. What is an expression made up of? What do all expressions do?

In [5]:
#An expression is a combination of operators and operands that is interpreted to produce some other value.
#Example:
a=10+12.#here 10+12 is an expression.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [7]:
'''Expressions only contain identifiers, literals and operators,
 where operators include arithmetic and boolean operators, the function call operator ()
 the subscription operator [] and similar, and can be reduced to some kind of "value", which can be any Python object.
 Whereas statements are everything that can make up a line (or several lines) of Python code. Note that expressions are statements as well.'''
#Examples:
a=10 #is statement.
b=10
a+b #is expression.

20

6.After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [8]:
#Adds 1 to value stored in bacon which is 22 and stores again the result(23) in bacon. The value of bacon will be 23.
bacon = 22
bacon + 1

23

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [10]:
print("spam"+"spamspam")
print("spam"*3)

spamspamspam
spamspamspam

8.Why is eggs a valid variable name while 100 is invalid?

In [11]:
'''The variable name must be start with letter (a-z) (A-Z) or underscore (_) not interger in python.
So eggs is valid whereas 100 is invalid.'''
eggs=10
100=1

SyntaxError: ignored

9.What three functions can be used to get the integer, floating-point number, or string version of a value?

In [13]:
#int()-converts the value to integer.
#Example:
print(int("10")) #will convert the string 10 to integer 10.
#float() –converts the value to float.
print(float("10.5")) #will convert the string 10.5 to float 10.
#str()-converts the value to string.
print(str(10)) #will convert the integer 10 to string 10.

10
10.5
10

10.Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos

In [14]:
#'I have eaten ' + 99 + ' burritos.' is a  cancat method ,cancat can be done only string data type ,
#but 99 is a integer.converting the 99 to string will fix the error.s
#fix:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'